[Unit]
Description=RPC Server & Client for music players!
After=network.target

[Service]
ExecStart=/opt/music-rpc-service/venv/bin/python3 rpc-server.py
WorkingDirectory=/opt/music-rpc-service
Restart=always
User=nobody
Group=nobody
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
